.notfound-container{
    height: 100vh;
    background-image: url('http://media-channel.nationalgeographic.com/media/uploads/photos/content/video/2016/10/04/778945603828_Mars_BigThinker_Mars101.mov.00_01_00_21.Still001.jpg');
    background-size: cover;
    margin: -10px;
}

.notfound-page{
    padding-top: 45%;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    background-color: transparent;
    border: none;

}