
  <body class="encounters-container">

    <div class="encounters-page">
      <div class="title-encounters">
        <h1>Recent Encounters</h1>
        <p>See an Alien? Report it!</p>
      </div>

      <div class="encounters-list">
        <li class ="report-item" *ngFor="let encounterList of encounterLists">
        <p>{{encounterList.date}}{{encounterList.atype}}</p>
        <p>{{encounterList.action}}</p>
        </li>
      </div>
    
    </div>
  <footer>
    <a routerLink = "/report">Report Encounter</a>
  </footer>
  </body>
