.home-page{
    background-image: url('https://s24.postimg.org/k7gsjhs05/Mars_home.png');
    background-size: cover;
    margin: -10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: white;
    h1{
        text-transform: uppercase;
        font-weight: 100;
        font-size: 2rem;
    }
    h2{
        font-weight: 100;
    }
}

.enter-circle{
    height: 400px;
    display: flex;
    justify-content: center;
    a{
        margin:100px;
        display: block;
        width: 75px;
        height: 75px;
        opacity: .4;
        border-radius: 50%;
        background: rgba(237,237,237,.2);
        cursor: pointer;
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        animation: pulse 2s infinite;
        }


        @keyframes pulse {
        0% {
            box-shadow: 0 0 0 1rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
        }
        50% {
            box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
        }
        75% {
            box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
        }
        100% {
            box-shadow: 0 0 0 1.75rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
        }
        }
}